{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "php"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}